.formControl.error input,
.formControl.error textarea
{
  border: solid red 5px
}

.formControl.error span
{
  color: brown;
}

.formSummaryError {
  border: red 1px solid;
  padding: 5px;
  color: red;
}
